

.del-line-container{
    display: flex;
  align-items: center; /* Căn chỉnh dọc để hình ảnh và văn bản nằm trên cùng một hàng */
  justify-content: center; /* Căn giữa nội dung nếu cần thiết */
}

.warning{
    font-size: 24px;
    text-align: left;
}

.warning-icon{
    width: 10vw;
    vertical-align: middle;
}

.class-form-del-line{
    background-color: #f0f0f0;
    width: 50vw;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vw;
    
}


.btn-yes{
    font-size: 1em;
    float: right;
    margin-bottom: 10px;
    margin-right: 50px;
    border: 1px solid white;    
    background-color: #ff0000;
    color: white;
    width: 8vw;
    height: 40px;
    border-radius: 5px;
    outline: none;
}


.btn-yes:hover {
    background-color: #e93636;
}

.btn-no{
    font-size: 1em;
    float: right;
    margin-right: 20px;
    outline: none;
    background-color: #0097b2;
    color: #fff;
    width: 8vw;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;

}


.btn-no:hover  {
    background-color: #2ca5ba;
    border: 1px solid #fff;
}

