

.content-setting{
    min-height: 100vh;
    width: 70vw;
}

.td-style{
    padding-right: 10px;
    padding-top: 20px;
}


.class-form{
    background-color: #f0f0f0;
    width: auto;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    
}

form p{
    font-size: 22px;

}

.message{
    font-size: 17px;
    color: green;
}

.main-content-add{
    font-size: 1.2em;
    background-color:  white;
    padding: 40px;
    border-radius: 10px;

}


.label-input{
    color: #000;
    justify-content: left;
}

.input-employee{
    font-size: 1em;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
}



.btn-reset:hover  {
    border: 2px solid #000;
}

.btn-submit{
    font-size: 17px;
    float: right;
    margin: 10px;
    
    border: 1px solid white;
    background-color: #0097b2;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 5px;
}


.btn-submit:hover {
    border: 1px solid #000;
}

.btn-cancel{
    font-size: 17px;
    float: right;
    margin-top: 11px;
    
    border: 1px solid #000;
    background-color: white;
    color: #000;
    width: 79px;
    height: 39px;
    border-radius: 5px;
}


.btn-cancel:hover  {
    border: 2px solid #000 ;
}

th{
    text-align: left;
    font-weight: normal;
    padding-bottom: 20px;
}